/* src/pages/Login.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color); /* Cinza claro global */
}

.formWrapper {
  background-color: var(--white);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color); /* Azul escuro global */
}

.button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 16px;
  margin-top: 10px;
  /* O hover e border-radius já vêm do index.css global, 
     mas podemos reforçar aqui se quiser */
}

.button:hover {
  background-color: var(--secondary-color);
}

.errorMessage {
  color: var(--danger);
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--danger);
}