root {
  --bg: #0d1117;           /* Fundo principal */
  --bg-secondary: #161b22; /* Card, nav, blocos */
  --bg-tertiary: #1d222a;  /* Hover, efeito */

  --border: #30363d;

  --text: #e6edf3;
  --text-muted: #8b949e;

  --primary: #58a6ff;
  --primary-hover: #1f6feb;

  --success: #2ea043;
  --danger: #f85149;
  --warning: #c69026;

  --shadow: 0 0 12px rgba(0,0,0,0.45);

  --radius: 8px;
  --transition: 0.25s ease;
}

/* RESET E BASELINE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}